@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&family=Sono:wght@200..800&display=swap');

:root {
  --background: #fcfaf8;
  --foreground: #171717;
  --font1: #fcfaf8;
  --font2: #36346e;
  --primary: #d968ac;
}

body {
  color: var(-font1);
  background: var(--background);
  font-family: "Sono", sans-serif;
}
